.App {
	text-align: center;
	display: grid;
}
.parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.left {
	/* flex: 1; */
	border: 2px solid black;
	flex-shrink: 0;
	cursor: pointer;
	/* width: 1fr; */
}
.right {
	/* width: 1fr; */
	border: 2px solid red;
	float: right;
	/* cursor: pointer; */
}
.right > button {
	float: left;
	margin-bottom: 2px;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: rgb(73, 79, 82);
	color: white;
}
.nav-links {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
